@import "variables.scss";

%styles-for-media-queries {
  @media only screen and (min-width: 1024px) {
    .menu-inicial {
      padding: 2% 5% 5% 5%;

      #toggle {
        display: none;
      }
 
      .navbar {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 20%;

        .navbar-imagen {
          grid-area: 1 /1/ 1/ 1;
          justify-self: flex-start;
          width: 36px;
          height: 36px;
        }

        .navbar-label {
          display: none;
        }

        .navbar-menu {
          grid-area: 1/ 2/ 1/ 2;
          font-family: "IBM Plex Mono", monospace;
          nav ul {
            padding: 0;
            margin: 0;
            background-color: transparent;
            text-align: right;
            li {
              list-style-type: none;
              display: inline-block;
              padding: 0 4% 0 4%;

              a {
                text-decoration: none;
                color: $primary-color-font;
                &:hover {
                  text-decoration: line-through;
                  color: $secondary-background-color;
                }
                &:active {
                  text-decoration: line-through;
                  color: #060a24;
                  opacity: 56%;
                }
              }
            }
          }
        }
      }

      #toggle:not(:checked) + div.navbar {
        .navbar-menu {
          display: block;
        }
      }
    }

    .seccion-inicial {
      padding: 5% 10% 10% 10%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 30% 30% 30%;
      grid-row-gap: 30%;
      .titulo {
        grid-area: 1 / 1 / 1 / 1;
        font-family: $primary-font;
        font-size: 1.8em;
        font-weight: 100;
        color: $primary-color-font;
        letter-spacing: 0;
        .linea {
          text-decoration: line-through;
        }
        .punto {
          color: $primary-background-color;
        }
      }
      .descripcion-mobile {
        display: none;
      }
      .descripcion-desktop {
        display: block;
        font-family: $secondary-font;
        color: $primary-color-font;
        justify-self: flex-start;
        font-size: 0.9em;
 
      }

      .boton-seccion-inicial {
        background-color: $secondary-background-color;
        justify-self: left;
        width: 18%;
        padding-top: 1%;
        text-align: center;
        a {
          font-family: $third-font;
          color: $primary-color-font;
          text-decoration: none;
        }
        &:hover {
          background-image: $primary-gradient;
          a {
            color: $third-background-color;
          }
        }
      }
    }
 
    .seccion-podcast {
  
      font-family: $primary-font;
      color: $third-background-color;
      padding: 0;
      margin: 0;
      background-color: $primary-background-color;
      transform: skewY(-6deg);
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      .podcast {
        margin: 10% 0 10% 0;
        transform: skewY(6deg);
        align-self: center;
        h1 {
          padding: 0% 10% 2% 10%;
          font-size: 48px;
        }
        iframe {
          width: 584px;
          height: 232px;
        }
      }
    }
    .seccion-imagen-superpuesta {
      transform: translate(0, -15%);
      img {
        width: 457.6px;
        height: 660px;
      }
    }

    .seccion-faq {
      display: grid;
      padding: 0 $common-padding 0 $common-padding;
      grid-template-columns: 100%;
      grid-template-rows: 30% 40% 40%;
      transform: translate(0, -15%);
      h1 {
        margin-right: 15%;
        font-family: $primary-font;
        line-height: 42px;
        color: #060a24;
      }
      p {
        font-family: $secondary-font;
        font-size: 14px;
        line-height: 22px;
        color: #060a24;
      }
    }

    .seccion-invitados {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 7% repeat(5, 15%);
      color: #060a24;
      letter-spacing: 0;
      line-height: 42px;
      font-family: $primary-font;
      h1 {
        padding: $common-padding;
      }
      img {
        width: 100%;
      }
    }
    .seccion-temarios {
      font-family: $primary-font;
      padding: 5%;
      .temario {
        color: $primary-color-font;
        font-weight: bold;
        font-size: 1.2em;
        font-weight: 600;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;
        margin-top: 10%;
        margin-bottom: 10%;
        img {
          grid-area: 1/1/1/1;
          justify-self: center;
          padding: 4%;
        }
        span {
          grid-area: 2/1/2/1;
          text-align: center;
          align-self: flex-end;
        }
      }
    }

    .seccion-novedades {
      display: flex;
      flex-flow: column nowrap;
      background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
      padding-bottom: 15%;
      svg {
        height: 10vw;
        justify-self: flex-start;
        top: 0;
        left: 0;
        transform: rotate(180deg);
        z-index: 1;
      }
      h1 {
        font-family: $primary-font;
        text-align: center;
        font-size: 2em;
        color: $third-background-color;
        justify-self: center;
        padding: 5%;
      }
      span {
        text-align: center;
        text-decoration: none;
        color: $primary-color-font;
        font-family: $third-font;
        font-weight: 500;
        background-color: $secondary-background-color;
        margin: 5%;
        padding: 4%;
        a {
          text-decoration: none;
          color: $primary-color-font;
        }
      }
    }

    footer {
      padding-top: 10%;
      text-align: center;
      color: #060a24;
      font-weight: 100;

      h2 {
        font-family: $secondary-font;
        font-size: 14px;
      }
      i {
        padding: 5%;
      }
    }
  }
}
