@import "variables.scss";

%styles-for-media-queries {
  @media screen and (min-width: 700px) {
    .menu-inicial {
      padding: 2% 5% 5% 5%;

      #toggle {
        display: none;
      }

      .navbar {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 20%;

        .navbar-imagen {
          grid-area: 1 /1/ 1/ 1;
          justify-self: flex-start;
          width: 36px;
          height: 36px;
        }

        .navbar-label {
          display: none;
        }

        .navbar-menu {
          grid-area: 1/ 2/ 1/ 2;
          font-family: "IBM Plex Mono", monospace;
          nav ul {
            padding: 0;
            margin: 0;
            background-color: transparent;
            text-align: right;
            li {
              list-style-type: none;
              display: inline-block;
              padding: 0 4% 0 4%;

              a {
                text-decoration: none;
                color: $primary-color-font;
                &:hover {
                  text-decoration: line-through;
                  color: $secondary-background-color;
                }
                &:active {
                  text-decoration: line-through;
                  color: $primary-color-font;
                  opacity: 56%;
                }
              }
            }
          }
        }
      }

      #toggle:not(:checked) + div.navbar {
        .navbar-menu {
          display: block;
        }
      }
    }

    .seccion-inicial {
      padding: 5% 10% 0% 10%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 30% 30% 30%;
      grid-row-gap: 30%;
      .titulo {
        grid-area: 1 / 1 / 1 / 1;
        font-family: $primary-font;
        font-size: 1.8em;
        color: $primary-color-font;
        .linea {
          text-decoration: line-through;
        }
        .punto {
          color: $primary-background-color;
        }
      }
      .descripcion-mobile {
        display: none;
      }
      .descripcion-desktop {
        display: block;
        font-family: $secondary-font;
        color: $primary-color-font;
        justify-self: flex-start;
        font-size: 0.9em;
      }

      .boton-seccion-inicial {
        width: 20%;
      }
    }

    .seccion-podcast {
      font-family: $primary-font;
      color: $third-background-color;
      padding: 0;
      margin: 0;
      background: $primary-gradient;
      transform: skewY(-6deg); 
      .podcast {
        transform: skewY(6deg);
        padding: 0 5% 0 5%;
        margin: 10% 0 15% 0;   
        h1 {
          padding: 0% 5% 0% 5%;
          font-size: 48px;
        }
        iframe {
            width: 45%; 
            margin: 0 2% 0 2%; 
        }
      }
    }
    .seccion-imagen-superpuesta {
      width: 40%;
      height: 50vh;
      padding: 0; 
      margin-left: 10%;
      //transform: translate(10%, -20%);   
      img {
        width: 70%;
        transform: translate(0, -15%); 
      }
    }

    .seccion-faq {
      transform: translate(0, -70%); 
      grid-template-columns: 60%; 
      grid-template-rows: 30% 40% 40%; 
      padding: 0; 
      margin-left: 50%;
      h1 {
        margin: 0;
        font-family: $primary-font;
        line-height: 42px;
        color: $primary-color-font;
      }
      p {
        font-family: $secondary-font;
        font-size: 14px;
        line-height: 22px;
        color: $primary-color-font;
      }
    }
 
    .seccion-invitados { 
      display: grid;
      margin-top: 5%;
      grid-template-columns: 33.33% 33.33% 33.33%; 
      grid-template-rows: 20% repeat(2, 39%); 
      color: $primary-color-font;
      font-size: 1.2em;
      letter-spacing: 0;
      line-height: 42px;
      font-family: $primary-font;
      h1 { 
        padding: 0 0 0 12% ;   
        grid-area: 1/1/1/4; 
      }
      img { 
        width: 100%;
      }
    }
    .seccion-temarios {
      display: grid;
      grid-template-columns: repeat(4,25%);
      grid-template-rows: 20% 80%;     
      h1 {
        grid-area: 1/1/1/5;
      } 
      .temario {
        color: $primary-color-font;
        font-weight: bold;
        font-size: 1.2em;
        font-weight: 600;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;
        margin: 0;
        img {
          grid-area: 1/1/1/1;
          justify-self: center;
          margin: 4%;
        }
        span {
          grid-area: 2/1/2/1;
          text-align: center;
          margin: 4%;
          align-self: center;
        }
      }
    }

    .seccion-novedades {
      display: flex;
      flex-flow: column nowrap;
      background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
      padding-bottom: 0; 
      svg {
        height: 10vw;
        justify-self: flex-start;
        top: 0;
        left: 0;
        transform: rotate(180deg);
        z-index: 1;
      }
      h1 {
        font-family: $primary-font;
        text-align: center;
        font-size: 48px;
        color: $third-background-color;
        justify-self: center;
        padding: 5%;
      }
      span {
        text-align: center;
        text-decoration: none;
        color: $primary-color-font;
        font-family: $third-font;
        font-weight: 500;
        background-color: $secondary-background-color;
        justify-self: center;
        width: 30%;
	      padding: 2%;
	       margin: 5%;
	      align-self: center;
        a {
          text-decoration: none;
          color: $primary-color-font;
        }
      }
    }

    footer {
      color: $primary-color-font;
      font-weight: 100%;
      padding-top: 5%;
      margin-bottom: 5%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      .derechos-footer{
        justify-self: left;
        width: 50%;
        h2 {
          font-family: $secondary-font;
          font-size: 14px;
          text-align: left;
        }
      }
      .iconos-footer {
        i {
          margin: 0%;
          padding: 0%;
        }
      }

    }
  }
}
