

$primary-font: 'IBM Plex Sans';
$secondary-font: 'IBM Plex Mono', monospace;
$third-font: 'IBM Plex Mono', monospace;
$primary-color-font : #060A24 ;
$primary-background-color: #0000EC;
$secondary-background-color: #00f3bb;
$third-background-color: #ffffff;
$common-padding: 5% ;
$primary-gradient:  linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
