

$fuente-uno: 'IBM Plex Sans';
$fuente-dos: 'IBM Plex Mono', monospace;
$fuente-tres: 'IBM Plex Mono', monospace;
$color-fuentes-uno : #060A24 ;
$color-fondo-uno: #0000EC;
$pad: 5% ;
$gradiente-boton: linear-gradient(-90deg, #0000FE 0%, #00F0B8 100%);
