

$primary-font: 'IBM Plex Sans';
$secondary-font: 'IBM Plex Mono', monospace;
$third-font: 'IBM Plex Mono', monospace;
$primary-color-font : #060A24 ;
$primary-background-color: #0000EC;
$secondary-background-color: #00f3bb;
$third-background-color: #ffffff;
$common-padding: 5% ;
$primary-gradient: linear-gradient(-90deg, #0000FE 0%, #00F0B8 100%);
