@import "variables.scss";

%styles-desktop {
  @media screen and (min-width: 1024px) {
    .menu-inicial {
      padding: 2% 5% 5% 5%;
      .navbar {
        grid-template-columns: 40% 60%;
        grid-template-rows: 20%;

        .navbar-imagen {
          img {
            width: 36px;
            height: 36px;
          }
        }
        .navbar-label {
          display: none;
        }

        .navbar-menu {
          grid-area: 1/ 2/ 1/ 2;
          nav ul {
            background-color: transparent;
            text-align: right;
            li {
              display: inline-block;
              padding: 0 4% 0 4%;
              line-height: 28px;
              font-size: 16px;
              a {
                text-decoration: none;
                color: $primary-color-font;

                &:hover {
                  text-decoration: line-through;
                  color: $secondary-background-color;
                }
                &:active {
                  text-decoration: line-through;
                  color: $primary-color-font;
                  opacity: 56%;
                }
              }
            }
          }
        }
      }

      #toggle:not(:checked) + div.navbar {
        .navbar-menu {
          display: block;
        }
      }
    }

    .seccion-inicial {
      padding: 5% 10% 0% 10%;
      grid-template-rows: 30% 30% 30%;
      grid-row-gap: 30%;
      .titulo {
        h1 {
          font-size: 64px;
        }
      }
      .descripcion-mobile {
        display: none;
      }
      .descripcion-desktop {
        display: block;
        font-family: $secondary-font;
        color: $primary-color-font;
        justify-self: flex-start;
        font-size: 16px;
        
        line-height: 24px;
      }

      .boton-seccion-inicial {
        width: 15%;
        padding: 2%;
        a {
          font-size: 18px;
        }
      }
    }

    .seccion-podcast {
      .podcast {
        padding: 0 5% 0 5%;
        margin: 10% 0 15% 0;
        h1 {
          padding: 0% 5% 0% 5%;
          font-size: 48px;
          
          font-weight: 400;
        }
        iframe {
          width: 45%;
          margin: 0 2% 0 2%;
        }
      }
    }
    .seccion-about-us {
      padding: 0 10% 0 10%;
      transform: translate(0, -15%);     
      display: grid;
      grid-template-columns: 50% 50%; 
      grid-template-rows: 100%;
      .imagen-about-us {
        justify-self: center;
        img {
          width: 457.6px;
          height: 660px;         }
      }
      .descripcion-about-us{
        justify-self: right;
        padding: 30% 0 0 0 ;  

        h1 {       
          margin-right: 15%;
          font-family: $primary-font;
          line-height: 42px;
          font-size: 36px;
          font-weight: 400;
          color: $primary-color-font;   
        } 
        p {
          margin:3% 25% 0 0;
          font-family: $secondary-font;
          font-size: 14px;
          line-height: 22px;         
          color: $primary-color-font;
        }   
      }
    }

    .seccion-invitados {
      margin-top: 0;
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-rows: 20% repeat(2, 39%);

      h1 {
        font-size: 48px;
        
        padding: 0 0 0 12%;
        grid-area: 1/1/1/4;
      }
    }
    .seccion-temarios {
      display: grid;
      grid-template-columns: repeat(4, 18%);
      grid-template-rows: 20% 80%;
      justify-content: center;
      margin-top: 3%;
      grid-row-gap: 15%;
      h1 {
        grid-area: 1/1/1/5;
        font-size: 48px;
        
        font-weight: 300;          

      }
      .temario {
        margin: 0;
        span {
          margin: 4%;
          align-self: center;
        }
      }
    }

    .seccion-novedades {
      display: flex;
      padding-bottom: 0;
      h1 {
        font-size: 48px;
        font-weight: 200;
      }
      span {
        justify-self: center;
        width: 30%;
        padding: 2%;
        margin: 4%;
        align-self: center;
      }
    }

    footer {
      padding-top: 5%;
      margin-bottom: 5%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      width: 100%;
      .derechos-footer {
        width: 50%;
        justify-self: left;
        margin-left: 5%;

        h2 {
          font-size: 16px;
          
          line-height: 28px;
          text-align: left;
        }
      }
      .iconos-footer {
        width: 50%;
        justify-self: right;
 
        a {
          i {
            margin: 0%;
            padding: 0 0 0 10%;
          }
        }
      }
    }
  }
}
