@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import "./styles-desktop.scss";
@import "./styles-tablet.scss";
@import "./variables.scss";
  
            
* { 
  margin: 0;         
  padding: 0; 
}
body {
  @extend %styles-tablet;   
  @extend %styles-desktop;
  a {
    text-decoration: none;
  }
  letter-spacing: $common-letter-spacing;
}  
 
.menu-inicial {
  padding: $common-measure 0 $common-measure 0 ;

  #toggle {
    display: none;     
  }   
 
  .navbar { 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20%;

    .navbar-imagen {
      margin-left: 10%;
      grid-area: 1 /1/ 1/ 1;
      justify-self: flex-start;  
    } 

    .navbar-label {
      margin-right: 10%;
      grid-area: 1/ 2/ 1/ 2;
      justify-self: flex-end;

      label {
        span.hamburguesa {
          display: block;
          font-size: 20px;
        }

        span.cerrar {
          display: none;
          font-size: 22px;
        }
      }
    }
    .navbar-menu {   
      grid-area: 2/1/2/3;
      font-family: "IBM Plex Mono", monospace;
      nav ul {
        padding: 0;     
        margin: 0;
        background-color: $primary-background-color;
 
        li {
          list-style-type: none;
          padding:$common-measure 2%$common-measure$common-measure;  
   
          a {
            text-decoration: none;
            color: $third-background-color;
          }
        }
      }
    }
  }

  #toggle:not(:checked) + div.navbar {
    .navbar-menu {
      display: none;
    }
  }

  #toggle:checked + div.navbar {
    .navbar-label {
      label {
        span.hamburguesa {
          display: none;
        }
  
        span.cerrar {
          display: block;
        }
      }
    } 
  }
}
  
.seccion-inicial {   
  padding:$common-measure $common-measure 30% $common-measure;
  display: grid; 
  margin: 0 0 10% 0;
  grid-template-columns: 100%;
  grid-template-rows: 40% 40% 20%;
  grid-row-gap: 10%; 
  .titulo {       
    font-family: $primary-font;
    color: $primary-color-font;
    width: 90%;  

    h1 {
      font-size: 36px;
      line-height: 42px;
      font-weight: 500; 
    }
    .linea {
      text-decoration: line-through;
    }
    .punto {
      color: $primary-background-color;
    }
  }
  .descripcion-mobile {     
    display: block;
    text-align: justify;
    font-size: 14px;
    font-family: $secondary-font;
    color: $primary-color-font;
  }
  .descripcion-desktop {
    display: none;
  } 
  
  .boton-seccion-inicial {
    background-color: $secondary-background-color;
    justify-self: left;
    width: 100%; 
    display: flex;
    padding: 9% 0 9% 0;
    justify-content: center;  
      a {                  
        font-family: $secondary-font;
        color: $primary-color-font;
        text-decoration: none;
        align-self: center;
        font-weight: 600;
        line-height: 24px;
        font-size: 16px;

      }  
    &:hover {
      background-image: $secondary-gradient; 
      a {
        color: $third-background-color; 
      }
    }
  }
}
  
.seccion-podcast {      
             
  background: $primary-gradient;
  transform: skewY(-6deg);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% repeat(4, 30%);       
  .podcast {          
    padding: $common-measure;  
    margin: 10% 0 30% 0;
    transform: skewY(6deg); 
    h1 {
      font-size: 36px;
      line-height: 42px;
      font-family: $primary-font;
      color: $third-background-color;
      font-weight: 300;
    }
    iframe {
      padding-top:$common-measure;
      width:100%; 
      height:232px;    
      overflow: hidden;  
      border: none; 
    }     
  }  
}         

.seccion-about-us {   
   transform: translate(0, -5%);       
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 65% 35%;
  .imagen-about-us {
    img {
      width: 100%;               
    }     
  } 
  .descripcion-about-us{        
    padding: 0 $common-measure 0 $common-measure;  
    h1 {                
      margin-right: 15%;
      font-family: $primary-font;
      line-height: 42px;
      font-size: 36px;
      font-weight: 400;  
      color: $primary-color-font;   
    } 
    p {   
      margin-top:3%;
      font-family: $secondary-font;
      font-size: 14px;
      line-height: 22px;         
      color: $primary-color-font; 
    }   
  }
}   
        
.seccion-invitados {   
  margin-top:10%; 
  display: grid;    
  grid-template-columns: 100%;  
  grid-template-rows: 7% repeat(5, 15%);                      

  h1 {   
    color: $primary-color-font;
    line-height: 42px;
    font-family: $primary-font;
    font-size: 36px;
    font-weight: 400;
    padding: $common-measure;  
  }    
  img {  
    width: 100%;  
  }    
}      
.seccion-temarios {       
  padding:$common-measure; 
  h1 {
    font-family: $primary-font;  
    font-family: $primary-font;
    line-height: 42px;
    font-size: 36px;
    font-weight: 400;
    color: $primary-color-font;   
  }  
  .temario {      

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    margin-top: 10%;
    margin-bottom: 10%; 

    img {
      grid-area: 1/1/1/1;
      justify-self: center;
      padding: 4%;  
    } 
    span {  
      font-family: $primary-font;  
      color: $primary-color-font;
      font-weight: 600; 
      font-size: 24px;    
      grid-area: 2/1/2/1;
      text-align: center;
      align-self: flex-end; 
    }  
  }
}

.seccion-novedades {
  display: flex; 
  flex-flow: column nowrap;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  padding-bottom: 15%;
  svg {
    height: 10vw;
    justify-self: flex-start;
    top: 0;     
    left: 0;
    transform: rotate(180deg);
    z-index: 1;
  }
  h1 {
    font-family: $primary-font;
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    color: $third-background-color;
    justify-self: center;
    padding:$common-measure; 
   }
  span {
    text-align: center; 
    background-color: $secondary-background-color;
    margin:$common-measure;
    padding: 4%;
    a {
      color: $primary-color-font;
      font-family: $secondary-font;
      font-weight: 600;
    }
      &:hover { 
        background-image: $secondary-gradient;  
        
        a {
          
          color: $third-background-color; 
          text-decoration: none;
        }
      }
    
  }
}
       
footer {        
  padding-top: 10%;    
  text-align: center;
  color: $primary-color-font;
  font-weight: 100;
   .derechos-footer {                    
    h2 {
      font-family: $secondary-font;
      font-size: 14px; 
    } 
   } 
   .iconos-footer {  
 
     a {
       color:$primary-color-font; 
      i { 
        padding:$common-measure;
      }
     }
   }

}

