@import 'variables.scss';
%styles-tablet {
    @media screen and (min-width: 768px ) and (max-width: 1024px) {
        .menu-inicial {
            padding: 2% 5% 5% 5%; 
      
            .navbar {
              grid-template-columns: 30% 70%;
              grid-template-rows: 20%;
      
              .navbar-imagen {
                width: 36px;
                height: 36px;
              }
      
              .navbar-label { 
                display: none;
              }
      
              .navbar-menu {
                grid-area: 1/ 2/ 1/ 2;
                align-content: space-evenly;
                nav ul {
                  background-color: transparent;
                  text-align: right;
                  li {
                    display: inline-block;
                    padding: 0 0 0 0; 
      
                    a {
                      text-decoration: none;
                      &:hover {
                        text-decoration: line-through;
                        color: $secondary-background-color;
                      }
                      &:active {
                        text-decoration: line-through;
                        color: $primary-color-font;
                        opacity: 56%;
                      }
                    }
                  }
                }
              }
            }
      
            #toggle:not(:checked) + div.navbar {
              .navbar-menu {
                display: block;
              }
            }
          }
      
          .seccion-inicial {
            padding: 5% 10% 0% 10%;
            grid-template-rows: 30% 30% 30%;
            grid-row-gap: 30%;
            .titulo {
              font-size: 1.3em;
            }
            .descripcion-mobile {
              display: none;
            }
            .descripcion-desktop {
              display: block;
              font-family: $secondary-font;
              color: $primary-color-font;
              justify-self: flex-start;
              font-size: 0.9em;
            }
      
            .boton-seccion-inicial {
              width: 20%;
            }
          }
      
          .seccion-podcast {
            .podcast {
              padding: 0 5% 0 5%;
              margin: 10% 0 15% 0;
              h1 {
                padding: 0% 5% 0% 5%;
                font-size: 48px;
              }
              iframe {
                  width: 45%; 
                  margin: 0 2% 0 2%; 
              }
            }
          }
          .seccion-imagen-superpuesta {
            width: 40%;
            height: 40vh; 
            margin-left: 10%;

          }
          
          .seccion-faq {
            transform: translate(0, -70%); 
            grid-template-columns: 80%; 
            grid-template-rows: 30% 40% 40%; 
            padding: 0; 
            margin-left: 50%;  
            h1 {
              margin: 0;
            }
            p {
                line-height: 15px;
            }
          }
       
          .seccion-invitados { 
            margin-top: 5%;
            grid-template-columns: 33.33% 33.33% 33.33%; 
            grid-template-rows: 20% repeat(2, 39%); 
            font-size: 1.2em;
            h1 { 
              padding: 0 0 0 12% ;   
              grid-area: 1/1/1/4; 
            }
      
          }
          .seccion-temarios {
            display: grid;
            grid-template-columns: repeat(4,25%);
            grid-template-rows: 20% 80%;     
            h1 {
              grid-area: 1/1/1/5;
            } 
            .temario {
              margin: 0; 
              span {
                margin: 4%;
                align-self: center;
              }
            }
          }
      
          .seccion-novedades {
            display: flex;
            padding-bottom: 0; 
            h1 {
              font-size: 48px;
            }
            span {
              justify-self: center;
              width: 30%;
                padding: 2%;
                 margin: 5%;
                align-self: center;
            }
          }
      
          footer {
            padding-top: 5%;
            margin-bottom: 5%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            .derechos-footer{
              justify-self: left;
              width: 50%;
              h2 {
                text-align: left;
              }
            }
            .iconos-footer {
              i {
                margin: 0%;
                padding: 0%;
              }
            } 
      
          }
        }
        
    }
