@import "./styles-desktop.scss";
@import "./styles-tablet.scss";
@import "./variables.scss";
     
           
* { 
  margin: 0;         
  padding: 0; 
}
body {
  @extend %styles-tablet;
  @extend %styles-desktop;
}  
 
.menu-inicial {
  padding: $common-padding;

  #toggle {
    display: none;     
  }   
 
  .navbar { 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20%;

    .navbar-imagen {
      grid-area: 1 /1/ 1/ 1;
      justify-self: flex-start;  
    } 

    .navbar-label {
      grid-area: 1/ 2/ 1/ 2;
      justify-self: flex-end;

      label {
        span.hamburguesa {
          display: block;
          font-size: 20px;
        }

        span.cerrar {
          display: none;
          font-size: 22px;
        }
      }
    }
    .navbar-menu {   
      grid-area: 2/1/2/3;
      font-family: "IBM Plex Mono", monospace;
      nav ul {
        padding: 0;
        margin: 0;
        background-color: $primary-background-color;
 
        li {
          list-style-type: none;
          padding: 5% 2% 5% 5%; 
  
          a {
            text-decoration: none;
            color: $primary-color-font;
          }
        }
      }
    }
  }

  #toggle:not(:checked) + div.navbar {
    .navbar-menu {
      display: none;
    }
  }

  #toggle:checked + div.navbar {
    .navbar-label {
      label {
        span.hamburguesa {
          display: none;
        }
  
        span.cerrar {
          display: block;
        }
      }
    } 
  }
}
  
.seccion-inicial {   
  padding: 5% 5% 30% 5%;
  display: grid; 
  margin: 0 0 10% 0;
  grid-template-columns: 100%;
  grid-template-rows: 40% 40% 20%;
  grid-row-gap: 20%;
  .titulo {  
    grid-area: 1 / 1 / 1 / 1;
    font-family: $primary-font;
    font-size: 1.2em;
    color: $primary-color-font;
    width: 90%;
    .linea {
      text-decoration: line-through;
    }
    .punto {
      color: $primary-background-color;
    }
  }
  .descripcion-mobile {
    grid-area: 2/ 1 / 2 /1;
    display: block;
    text-align: justify;
    font-size: 14px;
    font-family: $secondary-font;
    color: $primary-color-font;
  }
  .descripcion-desktop {
    display: none;
  } 
 
  .boton-seccion-inicial {
    background-color: $secondary-background-color;
    justify-self: left;
    width: 100%; 
    display: flex;
    justify-content: center; 
      a {  
        font-family: $third-font;
        color: $primary-color-font;
        text-decoration: none;
        align-self: center;
      }  
    &:hover {
      background-image: $secondary-gradient; 
      a {
        color: $third-background-color; 
      }
    }
  }
}
  
.seccion-podcast {  
  font-family: $primary-font;
  color: $third-background-color;
  padding: 0;      
  margin: 0;             
  background: $primary-gradient;
  transform: skewY(-6deg);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% repeat(4, 30%);       
  .podcast {          
    padding: $common-padding;  
    margin: 10% 0 30% 0;
    transform: skewY(6deg); 
    iframe {
      padding-top: 5%;
      width:100%; 
      height:232px;    
      overflow: hidden;  
      border: none; 
    }     
  }  
}           
    
.seccion-imagen-superpuesta {  
  img {      
    width: 100%;    
    transform: translate(0, -15%);     

  }    
} 
          
.seccion-faq {         
  display: grid;
  padding: 0 $common-padding 0 $common-padding;  
  grid-template-columns: 100%;
  grid-template-rows: 30% 40% 40%; 
  transform: translate(0, -15%);
  h1 {
    margin-right: 15%;
    font-family: $primary-font;
    line-height: 42px;
    color: $primary-color-font;  
  } 
  p {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 22px;         
    color: $primary-color-font;
  }   
}   
  
.seccion-invitados {   
  display: grid;    
  grid-template-columns: 100%;  
  grid-template-rows: 10% repeat(5, 15%);
  color: $primary-color-font;
  letter-spacing: 0;
  line-height: 42px;
  font-family: $primary-font;
  h1 {   
    padding: $common-padding;  
  }    
  img {  
    width: 100%;  
  }    
}      
.seccion-temarios {      
  font-family: $primary-font; 
  padding: 5%;   
  .temario {       
    color: $primary-color-font;
    font-weight: bold; 
    font-size: 1.2em;    
    font-weight: 600;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    margin-top: 10%;
    margin-bottom: 10%;           
    img {
      grid-area: 1/1/1/1;
      justify-self: center;
      padding: 4%;  
    } 
    span {  
      grid-area: 2/1/2/1;
      text-align: center;
      align-self: flex-end;
    }  
  }
}

.seccion-novedades {
  display: flex; 
  flex-flow: column nowrap;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  padding-bottom: 15%;
  svg {
    height: 10vw;
    justify-self: flex-start;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    z-index: 1;
  }
  h1 {
    font-family: $primary-font;
    text-align: center;
    font-size: 2em;
    color: $third-background-color;
    justify-self: center;
    padding: 5%; 
  }
  span {
    text-align: center;
    text-decoration: none;
    color: $primary-color-font;
    font-family: $third-font;
    font-weight: 500;
    background-color: $secondary-background-color;
    margin: 5%;
    padding: 4%;
    a {
      text-decoration: none;
      color: $primary-color-font;
    }
  }
}
       
footer {       
  padding-top: 10%;    
  text-align: center;
  color: $primary-color-font;
  font-weight: 100;
   .derechos-footer {
    h2 {
      font-family: $secondary-font;
      font-size: 14px; 
    } 
   } 
   .iconos-footer {
    i { 
      padding: 5%;
    }
   }

}

