@import "variables.scss";
%styles-tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .seccion-inicial {
      padding: 5% 5% 0% 10%;
      grid-template-rows: 30% 30% 30%;
      grid-row-gap: 20%;
      .titulo {
        h1 {
          font-size: 50px;
        }
      }
      .descripcion-mobile {
        display: none;
      }
      .descripcion-desktop {
        display: block;
        font-family: $secondary-font;
        color: $primary-color-font;
      } 
      .boton-seccion-inicial {
        width: 20%;
        padding: 2%;
        a {
          font-size: 18px;
        }
      }
    }

    .seccion-podcast {
      .podcast {
        padding: 0 5% 0 5%;
        margin: 10% 0 15% 0;
        h1 {
          padding: 0% 5% 0% 5%;
          font-size: 48px;
        }
        iframe {
          width: 45%;
          margin: 0 2% 0 2%;
        }
      }
    }
    .seccion-about-us {
      padding: 0 10% 0 10%;
      display: grid;
      grid-template-columns: 50% 50%; 
      grid-template-rows: 100%;
      .imagen-about-us {
        justify-self: center;
      }
      .descripcion-about-us{
        justify-self: right; 
        padding: 30% 0 0 0 ;  
        p {
          margin:3% 10% 0 0;
        }   
      }
    }
    .seccion-invitados { 
      margin-top: 0;
      grid-template-rows: 3% repeat(6, 16%) ;   
    }
    .seccion-temarios {
      padding-top: 0;
    }
  }
} 
