@import 'variables.scss';

body {
    padding: $pad;

}

.menu-inicial {

    nav ul {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .navbar-check label {
        display: inline-block;

        span.hamburguesa {
            display: none;
        }

        span.cerrar {
            display: none;

        }
    }


    #toggle {
        display: none;
    }


}

.seccion-inicial {
    .titulo {
        font-family: $fuente-uno;
        font-size: 20px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        padding-right: 20%;

        .tacha {
            text-decoration: line-through;
        }

        .punto {
            color: #0000EC;
        }
    }

    .descripcion-desktop {
        font-family: $fuente-dos;
        text-align: justify;
    }

    .descripcion-mobile {
        font-family: $fuente-dos;
        text-align: justify;
        display: none;
    }
}

@media all and (max-width: 800px) {
    .menu-inicial {
        nav ul {
            justify-content: space-around;
        }
    }
}

@media (max-width: 420px) {
    .menu-inicial {
        

        #toggle:not(:checked)+div.navbar {
            display: flex;
            border: 1px solid black;
            width: 100%;
            .navbar-imagen {
                width: 50%;
            }

            .navbar-label {
                width: 50%;
                display: flex;
                flex-flow: row nowrap;
                span.hamburguesa {
                    font-size: 22px;
                    align-self: flex-start
                }

                span.cerrar {
                    display: none;
                }
            }

            .navbar-menu {
                nav ul {
                    display: none;
                }
            }


        }

        #toggle:checked+div.navbar {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border: 1px solid black;
            width: 100%;
            .navbar-label {
                width: 50%;
                align-content: flex-end;
                label {
                    border: 1px solid black;

                    span.hamburguesa {
                        display: none;
                    }

                    span.cerrar {
                        display: inline-block;
                        font-size: 22px;
                    }
                }
            }

            .navbar-imagen {
                width: 50%;
                img {
                    text-align: left;
    
                }
            }

            .navbar-menu {
                border: 1px solid black;
                width: 100%;
                nav ul {
                    display: flex;
                    flex-flow: column wrap;
                    padding: 0;
                    background-color: #0000EC;

                    li {
                        padding: 5% 2% 5% 5%;

                    }

                    a {
                        text-align: start;
                        display: block;
                        color: white;
                    }
                }
            }



        }


    }

    .seccion-inicial {
        .descripcion-mobile {
            display: block;
        }

        .descripcion-desktop {
            display: none;
        }
    }

}