@import 'variables.scss';

body {
    padding: $pad;

}
.menu-inicial {

    nav ul {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    
    label {
        span {
            display: none;
        }
    }
    #toggle {
        display: none;
    }


}

.seccion-inicial {
    .titulo {
    font-family: $fuente-uno;
    font-size: 20px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    padding-right: 20% ;
    .tacha {
        text-decoration: line-through;
    }
    .punto {
        color:#0000EC ;
    }
    }
    .descripcion-desktop {
        font-family: $fuente-dos;
        text-align: justify;
    }
    .descripcion-mobile {
        font-family: $fuente-dos;
        text-align: justify;
        display: none;
    }
}

@media all and (max-width: 800px) {
    .menu-inicial {
        nav ul {
        justify-content: space-around;
        }
    }
}
@media (max-width: 420px) {
    .menu-inicial {
        nav ul {
            display: none;
        }

        
         #toggle:checked +  nav ul {
            display: flex;
            flex-flow: column wrap;
            padding: 0;
            background-color: #0000EC;
             li {
                padding: 5% 2% 5% 5%;

             }
            a{
                text-align: start;
                display: block;
                color:white;
            }

        }
        #toggle:checked + label span.hamburguesa {
            display: none;
        }
        #toggle:checked + label span.cerrar {
            display: block;
        }

        label {
            span {
                display: inline-block;

                .hamburguesa{
                }
                .cerrar {
                    display: none;
                }
            }
        }
        img {
            margin: 0 auto;
            text-align: left;
    
        }

    }

    .seccion-inicial {
        .descripcion-mobile {
            display: block;
        }
        .descripcion-desktop {
            display: none;
        }
    }

}