body {
  padding: 5%;
}

.menu-inicial nav ul {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-inicial nav ul li {
  list-style-type: none;
}

.menu-inicial nav ul li a {
  text-decoration: none;
  color: black;
}

.menu-inicial .navbar-check label {
  display: inline-block;
}

.menu-inicial .navbar-check label span.hamburguesa {
  display: none;
}

.menu-inicial .navbar-check label span.cerrar {
  display: none;
}

.menu-inicial #toggle {
  display: none;
}

.seccion-inicial .titulo {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  padding-right: 20%;
}

.seccion-inicial .titulo .tacha {
  text-decoration: line-through;
}

.seccion-inicial .titulo .punto {
  color: #0000EC;
}

.seccion-inicial .descripcion-desktop {
  font-family: "IBM Plex Mono", monospace;
  text-align: justify;
}

.seccion-inicial .descripcion-mobile {
  font-family: "IBM Plex Mono", monospace;
  text-align: justify;
  display: none;
}

@media all and (max-width: 800px) {
  .menu-inicial nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 420px) {
  .menu-inicial #toggle:not(:checked) + div.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid black;
    width: 100%;
  }
  .menu-inicial #toggle:not(:checked) + div.navbar .navbar-imagen {
    width: 50%;
  }
  .menu-inicial #toggle:not(:checked) + div.navbar .navbar-label {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .menu-inicial #toggle:not(:checked) + div.navbar .navbar-label span.hamburguesa {
    font-size: 22px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .menu-inicial #toggle:not(:checked) + div.navbar .navbar-label span.cerrar {
    display: none;
  }
  .menu-inicial #toggle:not(:checked) + div.navbar .navbar-menu nav ul {
    display: none;
  }
  .menu-inicial #toggle:checked + div.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 1px solid black;
    width: 100%;
  }
  .menu-inicial #toggle:checked + div.navbar .navbar-label {
    width: 50%;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .menu-inicial #toggle:checked + div.navbar .navbar-label label {
    border: 1px solid black;
  }
  .menu-inicial #toggle:checked + div.navbar .navbar-label label span.hamburguesa {
    display: none;
  }
  .menu-inicial #toggle:checked + div.navbar .navbar-label label span.cerrar {
    display: inline-block;
    font-size: 22px;
  }
  .menu-inicial #toggle:checked + div.navbar .navbar-imagen {
    width: 50%;
  }
  .menu-inicial #toggle:checked + div.navbar .navbar-imagen img {
    text-align: left;
  }
  .menu-inicial #toggle:checked + div.navbar .navbar-menu {
    border: 1px solid black;
    width: 100%;
  }
  .menu-inicial #toggle:checked + div.navbar .navbar-menu nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 0;
    background-color: #0000EC;
  }
  .menu-inicial #toggle:checked + div.navbar .navbar-menu nav ul li {
    padding: 5% 2% 5% 5%;
  }
  .menu-inicial #toggle:checked + div.navbar .navbar-menu nav ul a {
    text-align: start;
    display: block;
    color: white;
  }
  .seccion-inicial .descripcion-mobile {
    display: block;
  }
  .seccion-inicial .descripcion-desktop {
    display: none;
  }
}
/*# sourceMappingURL=estilos.css.map */