
$label-hamburguesa: 40px;  
$color-hamburguesa: black;
$medida-titulos: 8% 15% 5% 15%;
$medida-titulo-podcast:8% 15% 0% 15%;
$medida-podcast:2% 5% 5% 5%;
$fuente-uno: 'IBM Plex Sans', sans-serif;
$fuente-dos: 'IBM Plex Mono', monospace;
$gradiente-poligono: linear-gradient(#0000FF , #0000A3);