

$fuente-uno: 'IBM Plex Sans', sans-serif;
$fuente-dos: 'IBM Plex Mono', monospace;
$fuente-tres: 'IBM Plex Mono', monospace;
$color-fuentes-uno : #060A24 ;
$color-fondo-uno: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);;
$pad: 5% ;
$gradiente-boton: linear-gradient(-90deg, #0000FE 0%, #00F0B8 100%);
